html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  letter-spacing: 0;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "VT323", monospace;
  background-color: #1099bb;
}

.a,
.b {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: inherit;
}

.info {
  grid-area: a;
}

.date {
  grid-area: b;
}

.canvas-container {
  grid-area: c;
  position: relative;
}

.dog-container--0 {
  grid-area: d;
}

.dog-container--1 {
  grid-area: e;
}

.dog-container--2 {
  grid-area: f;
}

.dog-container--3 {
  grid-area: g;
}

.wrapper {
  z-index: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(100px);
  column-gap: 10px;
  row-gap: 1em;
  grid-template-areas:
    "a a b x"
    "c c c d"
    "c c c e"
    "c c c f"
    "c c c g";
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.dog-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 24px;

  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-gap: 10px;
  justify-content: center;
  justify-items: stretch;
  align-items: center;

}
.dog-icon {
  grid-column: 1;
  background-image: url('../assets/sprites/doggy.png');
  width: 25px;
  height: 19px;
  image-rendering: pixelated;
}
.dog-icon--0 {
  background-position: 0 0;
}
.dog-icon--1 {
  background-position: 125px 0;
}
.dog-icon--2 {
  background-position: 250px 0;
}
.dog-icon--3 {
  background-position: 375px 0;
}

.dog-price {
  grid-column: 2 / 3;
}

.dog-quantity {
  grid-column: 4;
}

.dog-button--buy {
  grid-column: 1 / 2;
}

.dog-button--sell {
  grid-column: 3 / 4;
}

button {
  width: 60px;
  padding: 2px;
  border: none;
  border-bottom: 5px solid #ad7900;
  border-radius: 4px;
  background: #fab70f;
  color: white;
  font: inherit;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  outline: none;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.08s;
}

button:disabled {
  background: #d49b0d;
  border-bottom-color: #946800;
  color: #eee;
  cursor: default;
}

button:active {
  bottom: -3px;
  border-bottom: 2px solid #543c00;
  background: #a17300;
  color: #ada48b;
}